.search {
  background-color: $gray;
  @extend %anim;
  &__main {
    padding: 60px 0 40px 0;
  }
  &__block {
    display: flex;
    justify-content: space-between;
    &-field {
      position: relative;
      width: 30%;
    }
  }
  &__field {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    line-height: 1.3em;
    padding: 10px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 5px;
    @extend %anim;
    &:hover {
      box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    }
  }
  &__icon {
    position: absolute;
    top: calc(50% - 0.75em);
    left: calc(0% + 0.8em);
    width: 1.5em;
    height: 1.5em;
  }
  &__filter {
    background-color: $white;
    border-radius: 5px;
    select {
      background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo  www.svgrepo.com  Generator: SVG Repo Mixer Tools --%3E%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='style=stroke'%3E%3Cg id='arrow-short-down'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.47455 8.21481C4.77525 7.92994 5.24995 7.94277 5.53482 8.24347L11.0829 14.0998C11.576 14.6202 12.4048 14.6202 12.8978 14.0998L18.4459 8.24347C18.7308 7.94277 19.2055 7.92994 19.5062 8.21482C19.8069 8.49969 19.8197 8.97439 19.5348 9.27509L13.9867 15.1314C12.9021 16.2763 11.0787 16.2763 9.99399 15.1314L4.44589 9.27509C4.16102 8.97439 4.17385 8.49969 4.47455 8.21481Z' fill='%23000000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat;
      background-position: 93%;
      background-size: 23px 23px;
      appearance: none;
      }
  }
}