%nunito400 {
  font-family: Nunito Sans;
  font-weight: 400;
}


%nunito600 {
  font-family: Nunito Sans;
  font-weight: 600;
}


%nunito700 {
  font-family: Nunito Sans;
  font-weight: 700;
}


%nunito800 {
  font-family: Nunito Sans;
  font-weight: 800;
}


%nunito900 {
  font-family: Nunito Sans;
  font-weight: 900;
}


%anim {
  transition: all 0.3s ease-in-out; 
}